#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  width: 50vw;
  padding: 2em;
}

.title {
  margin-bottom: 1rem;
  font-weight: bold;
  padding: 1rem;
  border-bottom: 2px solid white;
}

.button--minus:hover {
  outline: palevioletred 2px solid;
  border: 1px solid white;
}

.button--reset {
  position: absolute;
  bottom: 2rem;
  right: auto;
  background-color: indianred;
  outline: red 3px solid;
}

.button--reset:hover {
  background-color: darkred;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
