@import "tailwindcss";

body {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    user-select: none;
    color: #fff;
}

body {
    background-color: #171717;
}

button {
    @apply cursor-pointer;
}
